<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">Navbar</a>
      <!--ul class="nav navbar-nav"-->
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <%= 'active' if current_page?(menu_path)%>" >
          <%= link_to "Menu", menu_path, class:'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(contact_us_path)%>">
          <%= link_to "Contact Us", contact_us_path, class:'nav-link' %>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline float-xs-right">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </nav>
    <div class="container">
          <%= yield %>
    </div>
  </body>
</html>
